{% extends "layout.html" %}
{% block title %} Start Page {% endblock %}
{% block content %}
<div class="col-md-4 text-center"> 
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <form action = "{{ url_for('get_supported_languages') }}" method = get value = "Start!">
    <input type="submit" class="btn btn-info btn-lg" value = "  Start Here! "/>
  </form>
</div>
{% endblock %}
