{% extends "layout.html" %}
{% block title %} Choose Language {% endblock %}
{% block content %}
{% for key, value in languages.iteritems() %}
<div class="col-md-4 text-center"> 
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <a href="{{url_for('show_page',src_lang = key)}}" class="btn btn-primary btn-large" role="button">{{value}}</a>
</div>
{% endfor %}
{% endblock %}
