{% extends "layout.html" %}
{% block title %} Main {% endblock %}
{% block content %}	
{% with errors = get_flashed_messages(category_filter=["error"]) %}
	{% if errors %}
	<div class="alert alert-danger alert-dismissable">
		<a class="close" data-dismiss="alert" aria-label="close" href="#">×</a>
		<ul>
			{%- for msg in errors %}
			<li>{{ msg }}</li>
			{% endfor -%}
	  	</ul>
	</div>
	{% else %}
	<div class="alert alert-success alert-dismissable">
		<a class="close" data-dismiss="alert" aria-label="close" href="#">×</a>
		<ul>
			<li>So far so good! </li>
	  	</ul>
	</div>
	{% endif %}
{% endwith %}

<div class="modal-body row">
	<div class="col-md-6">
		<ul class="nav nav-tabs nav-fill">
			<li><a href="#src_code" data-toggle="tab">Source Code</a></li>
			<li><a href="#features" data-toggle="tab">Features</a></li>
		</ul>
		<div class="tab-content">
			<div class= {% block src_tab_status %} {% endblock %} id="src_code">
				<form action = "{{url_for('extract_features', src_lang = src_lang)}}" method = post>
					<br/>
					<div class="panel panel-default">
						<div class="panel-body">     <input type="submit" class="btn btn-info btn-lg" value = "1. Extract Features "/> </div>
					</div>
					<textarea name = "src_code_content" id = "src_code_content" rows = "20" cols = "75">{{code}}</textarea>
				</form>
			</div>
			<div class={% block feature_tab_status %} {% endblock %} id="features">
				<form action = "{{url_for('infer', src_lang = src_lang)}}" method = post>
					<br/>
					<div class="panel panel-default">
						<div class="panel-body">     <input type="submit" class="btn btn-info btn-lg" value = "2. Infer Code Changes " {% block infer_disable %} {% endblock %}/> </div>
					</div>
					<textarea readonly id = "features_content" name = "features_content" rows = "20" cols = "75">{% block feature_content %} {% endblock %} </textarea>
					<textarea name ="src_hidden" id = "src_hidden" style="display:none;">{{code}}</textarea>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<ul class="nav nav-tabs nav-fill" id = "second_tabs">
			<li><a href="#infer" data-toggle="tab"> Inferences made </a></li>
			<li><a href="#modified_src" data-toggle="tab">Modified Source Code</a></li>
		</ul>
		<div class="tab-content">
			<div class= {% block infer_tab_status %} {% endblock %} id="infer">
				<br/>
				<form action = "{{url_for('modify_src_code', src_lang = src_lang)}}" method = post>
					<div class="panel panel-default">
						<div class="panel-body"> 
							<input type = "submit" class = "btn btn-info btn-lg" value = "3. Modify Code  " {% block modify_op_disable %} {% endblock %}>
						</div>
					</div>
					<textarea readonly name = "infer_content" id = "infer_content" rows = "20" cols = "75">{% block infer_content %}{% endblock %}</textarea>
					<textarea name ="src_hidden" id = "src_hidden" style="display:none;">{{code}}</textarea>
					<textarea name ="features_hidden" id = "features_hidden" style="display:none;">{{features}}</textarea>
				</form>
			</div>
			<div class= {% block modified_op_tab_status %} {% endblock %}  id="modified_src">
				<form action = "{{url_for('get_supported_languages')}}" method = get>
					</br>
					<div class="panel panel-default">
						<div class="panel-body">
							<input type="submit" class="btn btn-info btn-lg" value = " [Optional]: Try with other supported languages "/> 
						</div>
					</div>
				</form>
				<textarea name = "modified_src_content" id = "modified_src_content" rows = "20" cols = "75">{% block modified_src_content %}{% endblock %}</textarea>
			</div>
		</div>
	</div>
</div>
{% endblock %}
